
// Base
// ============
// Global base styles

body, html {
    background: $clr-darker;
    overflow-x: hidden;
}
body {
    background: url(../img/bg-space.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}